h2 {
    text-decoration:underline ;
    
  /*1.underline = garis bawah
    2.overline = garis atas
    3.line-through = garis coret
    4.none = menghilangkan garis*/
    
}
a {
     text-decoration: none;
     color: red;
}