body {
     background-image: url(../Gambar/bg1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 1000px;
     background-attachment: fixed;
}
.jumbutroon {
     height: 300px;
     width: 250px;
     border: 2px solid grey;
     margin: auto;
     background-image: url(../Gambar/kaoruko.jpg);
     background-size: cover;
}